//text color
$font-colors:(
    'blue': #04c9c2,
    'white': white,
    'orange':orange,
);

//font size
$font-sizes:(
    "1": 30px,
    "2": 20px,
    "3": small,
);

//font family
$font-family-1:'Noto Sans Mono', monospace;
$font-family-2: 'Play', sans-serif;

//background color
$bg-color-1:black;
$bg-color-2:#16232b;