@use '../abstracts/variables' as *;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $bg-color-1;
    background-image: url('https://raw.githubusercontent.com/nardaiv/portofolio/main/src/background.jpg');
    background-size: cover;
}