@use '../abstracts/variables' as *;

a,a:active {
    text-decoration: none;
}

h3, p {
    font-family: $font-family-1;
}

h1,a{
    font-family: $font-family-2;
}

@each $num,$value in $font-sizes {
    .fs-#{$num}{
        font-size:$value;
    }
}

@each $name,$value in $font-colors {
    .fc-#{$name}{
        color: $value;
    }
}
