@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;
@use 'sass:map';

@mixin size($height,$width) {
    height: $height;
    width: $width;
}

@mixin size-2 {
    @include size(auto,90%);
    max-width: 350px;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin center($center) {
    @if $center == 1 {
        justify-content: center;
    }@else if $center == 2{
        align-items: center;
    }@else if $center == 3{
        justify-content: center;
        justify-items: center;
    }
}

body{
    @include flex(row);
    @include center(3);
}

main{
    &.jumbotron{
        @include flex(column);
        @include size(100vh, 50vw);
        @include center(2);
        gap: 5vh;
        max-width: 800px;
    }
    
    .container{
        background-color: $bg-color-2;
        border-radius: 5px;  
    }

    .jumbotron-data-diri{
        @include flex(row);
        justify-content: space-between;
        @include size(auto, 100%);
        .photo{
            @include size(100%, auto);
            max-height: 250px;

            img {
                @include size(100%,auto);
                box-sizing: border-box;
                border: solid;
                border-width: 10px;
                border-color: $bg-color-2;
            }
            
            box-sizing: border-box;
        } 
    }
    .data{
        @include flex(column);
        @include size(auto, 50%);
              
    }
    .detail{
        @include flex(row);
    }

    .jumbotron-isi{
        @include size( fit-content, 95%);
        a:hover{
            color: map.get($font-colors,"white");
        }
    }
    .jumbotron-kontak a, .jumbotron-isi a{
        &:hover{
            color:map.get($font-colors,"blue");
            transition: 1s;
        }
    }
    .jumbotron-isi a{
        &:hover{
            text-decoration: underline;
            transition: 1s;
        }
    }
}

.slider{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color:  map.get($font-colors,"white");
    padding: 10px;
    box-sizing: border-box;
    &:hover{
        transition: 0.5s;
        border-color:  map.get($font-colors,"blue");
    }
    img{
        @include size(auto,290px);
        border-radius: 5px;
    }
    p{
        text-align: center;
    }
}

.wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    button{
        font-size: 30px;
        border-radius: 10px;
        border-color: map.get($font-colors,"white");
        border-width: 4px;
        background-color: $bg-color-2;
        color: map.get($font-colors,"white");
        &:hover{
            color: map.get($font-colors,"blue");
            border-color: map.get($font-colors,"blue");
            transition: 500ms;
        }
    }
    
}



@include lg{
    main .jumbotron-data-diri .photo{
        @include size(20vw, auto);
    }
}

@include md{
    main.jumbotron{
        @include size(100vh,80vw )
    }
    .wrapper{
        button{
            font-size: 25px;
            border-width: 2px;
        }
    }
    
}

@include sm{
    main{
        &.jumbotron{
            @include size(auto, 80vw)
        }
        .jumbotron-data-diri{
            
            .photo{
                display: flex;
                position: absolute;
                z-index: -1;
                right: 10vw;
            }
            .data{
                box-shadow: 5px -5px 10px 0 ;
                @include size(30vw, 80%);
                
            }
        }
    }
    .wrapper{
        button{
            font-size: 25px;
            border-width: 3px;
        }
    }
}

@include xs{
    main{
        &.jumbotron{
            @include size(auto,90vw );
        }
        .jumbotron-data-diri{
            @include flex(column);
            @include center(2);
            gap: 5vh;
            .photo{
                @include size(60vw,auto);
            }
        }
        
        .data{
            @include size-2;
            display: flex;
        }
        .jumbotron-isi{
            
            @include size-2;

        }
        .slider{
            img{
                @include size(auto,50vw);
            }
        }
       
    }

    .wrapper{
        gap: 2vw;
        button{
            font-size: 25px;
            border-width: 2px;
        }
    }
   
}