main .jumbotron-data-diri {
  margin: 5vw 0 0 0;
  padding: 0;
}
main .data {
  margin: 0;
  padding: 2.5%;
}
main .jumbotron-isi {
  margin: 0;
  padding: 2.5%;
}
main .jumbotron-isi .text-box {
  margin: 0;
  padding: 10px 0 50px 0;
}
main .detail {
  margin: 10px 0 50px 0;
  padding: 0;
}
main .jumbotron-kontak {
  margin: 0;
  padding: 10%;
}
main .wrapper {
  margin: 50px 0;
  padding: 0;
}
@media only screen and (max-width: 575px) {
  main .wrapper {
    margin: 10px;
    padding: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  main .jumbotron-data-diri .data {
    margin: 27.5vw 0 0 0;
    padding: 2.5%;
  }
}
@media only screen and (max-width: 575px) {
  main .data {
    margin: 0;
    padding: 5%;
  }
  main .jumbotron-isi {
    margin: 0;
    padding: 5%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  background-image: url("https://raw.githubusercontent.com/nardaiv/portofolio/main/src/background.jpg");
  background-size: cover;
}

a, a:active {
  text-decoration: none;
}

h3, p {
  font-family: "Noto Sans Mono", monospace;
}

h1, a {
  font-family: "Play", sans-serif;
}

.fs-1 {
  font-size: 30px;
}

.fs-2 {
  font-size: 20px;
}

.fs-3 {
  font-size: small;
}

.fc-blue {
  color: #04c9c2;
}

.fc-white {
  color: white;
}

.fc-orange {
  color: orange;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

main.jumbotron {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  align-items: center;
  gap: 5vh;
  max-width: 800px;
}
main .container {
  background-color: #16232b;
  border-radius: 5px;
}
main .jumbotron-data-diri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
main .jumbotron-data-diri .photo {
  height: 100%;
  width: auto;
  max-height: 250px;
  box-sizing: border-box;
}
main .jumbotron-data-diri .photo img {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  border: solid;
  border-width: 10px;
  border-color: #16232b;
}
main .data {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
}
main .detail {
  display: flex;
  flex-direction: row;
}
main .jumbotron-isi {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
}
main .jumbotron-isi a:hover {
  color: white;
}
main .jumbotron-kontak a:hover, main .jumbotron-isi a:hover {
  color: #04c9c2;
  transition: 1s;
}
main .jumbotron-isi a:hover {
  text-decoration: underline;
  transition: 1s;
}

.slider {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  padding: 10px;
  box-sizing: border-box;
}
.slider:hover {
  transition: 0.5s;
  border-color: #04c9c2;
}
.slider img {
  height: auto;
  width: 290px;
  border-radius: 5px;
}
.slider p {
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.wrapper button {
  font-size: 30px;
  border-radius: 10px;
  border-color: white;
  border-width: 4px;
  background-color: #16232b;
  color: white;
}
.wrapper button:hover {
  color: #04c9c2;
  border-color: #04c9c2;
  transition: 500ms;
}

@media only screen and (min-width: 992px) {
  main .jumbotron-data-diri .photo {
    height: 20vw;
    width: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main.jumbotron {
    height: 100vh;
    width: 80vw;
  }

  .wrapper button {
    font-size: 25px;
    border-width: 2px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  main.jumbotron {
    height: auto;
    width: 80vw;
  }
  main .jumbotron-data-diri .photo {
    display: flex;
    position: absolute;
    z-index: -1;
    right: 10vw;
  }
  main .jumbotron-data-diri .data {
    box-shadow: 5px -5px 10px 0;
    height: 30vw;
    width: 80%;
  }

  .wrapper button {
    font-size: 25px;
    border-width: 3px;
  }
}
@media only screen and (max-width: 575px) {
  main.jumbotron {
    height: auto;
    width: 90vw;
  }
  main .jumbotron-data-diri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }
  main .jumbotron-data-diri .photo {
    height: 60vw;
    width: auto;
  }
  main .data {
    height: auto;
    width: 90%;
    max-width: 350px;
    display: flex;
  }
  main .jumbotron-isi {
    height: auto;
    width: 90%;
    max-width: 350px;
  }
  main .slider img {
    height: auto;
    width: 50vw;
  }

  .wrapper {
    gap: 2vw;
  }
  .wrapper button {
    font-size: 25px;
    border-width: 2px;
  }
}/*# sourceMappingURL=style.css.map */